*ReSharper*
*.user
obj/
*.suo
bin/
.DS_Store
*.pidb
Bin/

CodeCamp.Core.MonoTouch/CodeCamp.Core.MonoTouch.pidb

NycCodeCamp.MonoTouchApp/NycCodeCamp.MonoTouchApp.pidb

CodeCamp.Core.MonoAndroid/CodeCamp.Core.MonoAndroid.pidb

CodeCamp.Core.MonoTouch/CodeCamp.Core.MonoTouch.pidb

CodeCamp.Core/CodeCamp.Core.pidb

NycCodeCamp.MonoTouchApp/NycCodeCamp.MonoTouchApp.pidb
